@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Queue Manager</h1>
    <a asp-controller="Queue" asp-action="GetQueue" class="btn btn-secondary" >Lets start!</a>

</div>
